.app {
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

main {
  /* Draggable package not working with flex display */
  position: absolute;
  top: 0;
  text-align: center;
  height: 100%;
  width: calc(100% - 80px);
  margin-left: 80px;

  background-color: #111;
  background-image: url(./images/vendingmachine.jpg);
  background-repeat: no-repeat;
  background-size: auto 1440px;
  background-position: right center;
}

/* Size is catered to the background image. */
.drop_region {
  position: absolute;
  top: calc(50% - 150px / 2.0);
  right: 90px;
  width: 150px;
  height: 150px;
}

/* Location relative to spawn region of coin defined in code. */
.drag_hint {
  color: #fff;
  /* For some reason text-stroke didn't work well. */
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  font-size: 2.5em;
  position: absolute;
  display: inline;
  pointer-events: none;
  transition: opacity 0.7s;
}

.scale-up {
  animation: scale-up 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
}

@keyframes scale-up {
  0% {
    transform: scale(1) rotate(1deg);

  }

  50% {
    transform: scale(0.9) rotate(-1deg);
  }

  100% {
    transform: rotate(1deg);
  }
}

