.price-display {
  display: flex;
  width: 100%;
  padding-right: 10px;
  align-items: center;
}

.price-display * {
  display: flex;
  justify-content: center;
}


.sidebar-coin {
  height: 30px;
}

.multiplier {
  margin-left: 8px;
  margin-right: 2px;
}

.final-price {
  margin-left: auto;
  font-size: 18pt;
}

.justify-center {
  justify-content: center;
}

